/* xs */
@media (min-width: 0px) {
  .header i {
    font-size: 30;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: rgba(0, 35, 101, 0.9333333333);
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #002365;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 55;
    height: 55;
    font-size: 27;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    position: relative;
    height: 50;
    width: 50;
    font-size: 20;
  }
  .settings-pane .bound input {
    height: 50;
    font-size: 18;
  }
  .settings-pane .bound label {
    font-size: 18;
  }
}
/* sm */
@media (min-width: 576px) {
  .header i {
    font-size: 40;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: rgba(0, 35, 101, 0.9333333333);
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #002365;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 75;
    height: 75;
    font-size: 35;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    position: relative;
    height: 65;
    width: 65;
    font-size: 30;
  }
  .settings-pane .bound input {
    height: 65;
    font-size: 20;
  }
  .settings-pane .bound label {
    font-size: 20;
  }
}
/* md */
@media (min-width: 768px) {
  .header i {
    font-size: 45;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: rgba(0, 35, 101, 0.9333333333);
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #002365;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 75;
    height: 75;
    font-size: 35;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    position: relative;
    height: 75;
    width: 75;
    font-size: 30;
  }
  .settings-pane .bound input {
    height: 75;
    font-size: 20;
  }
  .settings-pane .bound label {
    font-size: 25;
  }
}
/* lg */
@media (min-width: 992px) {
  .header i {
    font-size: 45;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: rgba(0, 35, 101, 0.9333333333);
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #002365;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 80;
    height: 80;
    font-size: 35;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    position: relative;
    height: 80;
    width: 80;
    font-size: 35;
  }
  .settings-pane .bound input {
    height: 80;
    font-size: 20;
  }
  .settings-pane .bound label {
    font-size: 25;
  }
}
/* xl */
@media (min-width: 1200px) {
  .header i {
    font-size: 45;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: rgba(0, 35, 101, 0.9333333333);
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #002365;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 80;
    height: 80;
    font-size: 35;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    position: relative;
    height: 80;
    width: 80;
    font-size: 35;
  }
  .settings-pane .bound input {
    height: 80;
    font-size: 20;
  }
  .settings-pane .bound label {
    font-size: 25;
  }
}
/* xxl */
@media (min-width: 1400px) {
  .header i {
    font-size: 50;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: rgba(0, 35, 101, 0.9333333333);
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #002365;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 80;
    height: 80;
    font-size: 40;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    position: relative;
    height: 80;
    width: 80;
    font-size: 35;
  }
  .settings-pane .bound input {
    height: 80;
    font-size: 20;
  }
  .settings-pane .bound label {
    font-size: 25;
  }
}

/*# sourceMappingURL=styles.css.map */
