/* xs */
@media (min-width: 0px) {
  .header i {
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: #0d6efd;
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #0b5ed7;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 55px;
    height: 55px;
    font-size: 27px;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    height: 50px;
    width: 50px;
    font-size: 20px;
    border-radius: 0.5em;
    border-width: 2px;
    border-color: #dee2e6;
    color: black;
    cursor: pointer;
  }
  .settings-pane button.exercise:hover {
    border-color: #0d6efd;
    background-color: white;
  }
  .settings-pane button.exercise:hover:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane button.exercise:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane .bound input {
    height: 50px;
    font-size: 18px;
  }
  .settings-pane .bound label {
    font-size: 18px;
  }
}
/* sm */
@media (min-width: 576px) {
  .header i {
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: #0d6efd;
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #0b5ed7;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 75px;
    height: 75px;
    font-size: 35px;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    height: 65px;
    width: 65px;
    font-size: 30px;
    border-radius: 0.5em;
    border-width: 2px;
    border-color: #dee2e6;
    color: black;
    cursor: pointer;
  }
  .settings-pane button.exercise:hover {
    border-color: #0d6efd;
    background-color: white;
  }
  .settings-pane button.exercise:hover:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane button.exercise:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane .bound input {
    height: 65px;
    font-size: 20px;
  }
  .settings-pane .bound label {
    font-size: 20px;
  }
}
/* md */
@media (min-width: 768px) {
  .header i {
    font-size: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: #0d6efd;
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #0b5ed7;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 75px;
    height: 75px;
    font-size: 35px;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    height: 75px;
    width: 75px;
    font-size: 30px;
    border-radius: 0.5em;
    border-width: 2px;
    border-color: #dee2e6;
    color: black;
    cursor: pointer;
  }
  .settings-pane button.exercise:hover {
    border-color: #0d6efd;
    background-color: white;
  }
  .settings-pane button.exercise:hover:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane button.exercise:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane .bound input {
    height: 75px;
    font-size: 20px;
  }
  .settings-pane .bound label {
    font-size: 25px;
  }
}
/* lg */
@media (min-width: 992px) {
  .header i {
    font-size: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: #0d6efd;
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #0b5ed7;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 80px;
    height: 80px;
    font-size: 35px;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    height: 80px;
    width: 80px;
    font-size: 35px;
    border-radius: 0.5em;
    border-width: 2px;
    border-color: #dee2e6;
    color: black;
    cursor: pointer;
  }
  .settings-pane button.exercise:hover {
    border-color: #0d6efd;
    background-color: white;
  }
  .settings-pane button.exercise:hover:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane button.exercise:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane .bound input {
    height: 80px;
    font-size: 20px;
  }
  .settings-pane .bound label {
    font-size: 25px;
  }
}
/* xl */
@media (min-width: 1200px) {
  .header i {
    font-size: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: #0d6efd;
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #0b5ed7;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 80px;
    height: 80px;
    font-size: 35px;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    height: 80px;
    width: 80px;
    font-size: 35px;
    border-radius: 0.5em;
    border-width: 2px;
    border-color: #dee2e6;
    color: black;
    cursor: pointer;
  }
  .settings-pane button.exercise:hover {
    border-color: #0d6efd;
    background-color: white;
  }
  .settings-pane button.exercise:hover:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane button.exercise:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane .bound input {
    height: 80px;
    font-size: 20px;
  }
  .settings-pane .bound label {
    font-size: 25px;
  }
}
/* xxl */
@media (min-width: 1400px) {
  .header i {
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header i.settings {
    color: #0d6efd;
    -webkit-text-stroke: 1px;
  }
  .header i.settings:hover {
    color: #0b5ed7;
  }
  .header i.correct {
    color: green;
  }
  .header i.incorrect {
    color: red;
  }
  .header button.settings {
    --bs-btn-border-color: none;
  }
  .header p.counter {
    font-size: 30px;
  }
  .exercise {
    font-size: 50px;
  }
  .keyboard button {
    width: 80px;
    height: 80px;
    font-size: 40px;
    max-width: 100%;
    max-height: 100%;
  }
  .settings-pane button.exercise {
    height: 80px;
    width: 80px;
    font-size: 35px;
    border-radius: 0.5em;
    border-width: 2px;
    border-color: #dee2e6;
    color: black;
    cursor: pointer;
  }
  .settings-pane button.exercise:hover {
    border-color: #0d6efd;
    background-color: white;
  }
  .settings-pane button.exercise:hover:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane button.exercise:active {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
  }
  .settings-pane .bound input {
    height: 80px;
    font-size: 20px;
  }
  .settings-pane .bound label {
    font-size: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
