@use "sass:map";

$min-widths: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$max-widths: (
  xs: 575.98px,
  sm: 767.98px,
  md: 991.98px,
  lg: 1199.98px,
  xl: 1399.98px,
  xxl: 20000px,
);

@mixin active($color-light) {
  &:active {
    border-color: $color-light;
    background-color: $color-light;
    color: white;
  }
}

@mixin screen($name, $header, $exercise, $keyboard, $settings-panel) {
  $min-width: map.get($min-widths, $name);

  /* #{$name} */
  @media (min-width: $min-width) {
    $color-light: #0d6efd;
    $color-dark: #0b5ed7;
    $color-error: #dc3545;
    .header {
      > .col {
        max-width: map.get($header, col);
      }

      i {
        font-size: map.get($header, icon-font-size);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &.settings {
          color: $color-light;
          -webkit-text-stroke: 1px;

          &:hover {
            color: $color-dark;
          }
        }

        &.correct {
          color: green;
        }

        &.incorrect {
          color: red;
        }
      }

      button.settings {
        --bs-btn-border-color: none;
      }

      p.counter {
        font-size: map.get($header, icon-font-size);
      }
    }

    .exercise {
      font-size: map.get($exercise, font-size);

      .error-message {
        font-size: map.get($exercise, error-font-size);
      }
    }

    .keyboard {
      button {
        width: map.get($keyboard, side);
        height: map.get($keyboard, side);
        font-size: map.get($keyboard, font-size);
        max-width: 100%;
        max-height: 100%;
      }
      .keyboard-col {
        width: map.get($keyboard, col);
      }
    }

    .settings-panel {
      $button: map.get($settings-panel, button);
      $side: map.get($button, side);
      $color-border-grey: #dee2e6;

      .settings {
        width: map.get($settings-panel, col);
      }

      button {
        &.select {
          height: $side;
          width: $side;

          font-size: map.get($button, font-size);
          // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5)
          // cursor: pointer

          border-radius: 0.5em;
          border-width: 2px;
          border-color: $color-border-grey;
          color: black;

          cursor: pointer;

          @include active($color-light: $color-light);

          @media (hover: hover) {
            &:hover {
              border-color: $color-light;
              background-color: white;
              @include active($color-light: $color-light);
            }
          }
          &.selected {
            border-color: $color-light;
            background-color: $color-light;
            color: white;
          }
          &.error {
            border-color: $color-error;
            background-color: white;
            color: black;
          }
        }
      }

      .bound {
        $bound: map.get($settings-panel, bound);

        input {
          height: $side;
          font-size: map.get(map.get($bound, input), font-size);
        }

        label {
          $label: map.get($bound, label);
          font-size: map.get($label, font-size);
        }
      }

      //     align-items: center

      // label
      // font-size: map.get(map.get($settings, label), font-size)
      // font-size: map.get($settings, font-size)

      // .form-control:focus {
      //   // border-color: #28a745
      //   box-shadow: 0 0 0 0.2rem #007bff40;
      //   ~ label {
      //     color: 0 0 0 0.2rem #007bff40;
      //     transform: scale(0.7) translateY(-0.5rem) translateX(0.15rem);

      //     &::after {
      //       // position: absolute;
      //       // inset: $form-floating-padding-y ($form-floating-padding-x * .5);
      //       // z-index: -1;
      //       // height: $form-floating-label-height;
      //       // height: 30px;
      //       // content: "";
      //       // background-color: $input-bg;
      //       // @include border-radius($input-border-radius);
      //     }
      //   }
      // }
    }
  }
}

@include screen(
  $name: xs,
  $header: (
    icon-font-size: 35px,
    col: 100%,
  ),
  $exercise: (
    font-size: 60px,
    error-font-size: 30px
  ),
  $keyboard: (
    side: 80px,
    font-size: 45px,
    col: 270px,
  ),
  $settings-panel: (
    col: 100%,
    button: (
      side: 50px,
      font-size: 20px,
    ),
    bound: (
      input: (
        font-size: 18px,
      ),
      label: (
        font-size: 18px,
        after: (
          font-size: 8,
        ),
      ),
    ),
  )
);
@include screen(
  $name: sm,
  $header: (
    icon-font-size: 60px,
    col: 100%,
  ),
  $exercise: (
    font-size: 100px,
    error-font-size: 30px
  ),
  $keyboard: (
    side: 150px,
    font-size: 70px,
    col: 550px,
  ),
  $settings-panel: (
    col: 800px,
    button: (
      side: 65px,
      font-size: 30px,
    ),
    bound: (
      input: (
        font-size: 20px,
      ),
      label: (
        font-size: 20px,
        after: (
          font-size: 20px,
        ),
      ),
    ),
  )
);
@include screen(
  $name: md,
  $header: (
    icon-font-size: 60px,
    col: 1100px,
  ),
  $exercise: (
    font-size: 100px,
    error-font-size: 50px
  ),
  $keyboard: (
    side: 150px,
    font-size: 70px,
    col: 550px,
  ),
  $settings-panel: (
    col: 800px,
    button: (
      side: 75px,
      font-size: 30px,
    ),
    bound: (
      input: (
        font-size: 20px,
      ),
      label: (
        font-size: 25px,
        after: (
          font-size: 20px,
        ),
      ),
    ),
  )
);
@include screen(
  $name: lg,
  $header: (
    icon-font-size: 60px,
    col: 100%,
  ),
  $exercise: (
    font-size: 100px,
    error-font-size: 50px
  ),
  $keyboard: (
    side: 150px,
    font-size: 70px,
    col: 550px,
  ),
  $settings-panel: (
    col: 800px,
    button: (
      side: 80px,
      font-size: 35px,
    ),
    bound: (
      input: (
        font-size: 20px,
      ),
      label: (
        font-size: 25px,
        after: (
          font-size: 20px,
        ),
      ),
    ),
  )
);
@include screen(
  $name: xl,
  $header: (
    icon-font-size: 60px,
    col: 1100px,
  ),
  $exercise: (
    font-size: 100px,
    error-font-size: 50px
  ),
  $keyboard: (
    side: 150px,
    font-size: 70px,
    col: 550px,
  ),
  $settings-panel: (
    col: 800px,
    button: (
      side: 80px,
      font-size: 35px,
    ),
    bound: (
      input: (
        font-size: 20px,
      ),
      label: (
        font-size: 25px,
        after: (
          font-size: 20px,
        ),
      ),
    ),
  )
);
@include screen(
  $name: xxl,
  $header: (
    icon-font-size: 60px,
    col: 1100px,
  ),
  $exercise: (
    font-size: 100px,
    error-font-size: 50px
  ),
  $keyboard: (
    side: 150px,
    font-size: 70px,
    col: 550px,
  ),
  $settings-panel: (
    col: 800px,
    button: (
      side: 80px,
      font-size: 35px,
    ),
    bound: (
      input: (
        font-size: 20px,
      ),
      label: (
        font-size: 25px,
        after: (
          font-size: 20px,
        ),
      ),
    ),
  )
);
